.item {
  margin: 5px;
  border: 3px dashed black;
  border-radius: 20px;
  padding: 10px;
}

.button {
  border-radius: 10px;
  padding: 10px;
  width: min-content;
}

.finish {
  background-color: #5ba4a4;
}

.delete {
  background-color: #a32020;
}

.desc {
  margin-bottom: 10px;
}
